<h1>Places I've been</h1>

<p>Here are the places I've been:</p>

<ul>
  <% @places.each() do |place| %>
    <li><%= place.name() %></li>
  <% end %>
</ul>

<p>Add a new place to your list:</p>

<form action="/output" method="post">
  <label for="place">Place name</label>
  <input id="place" name="place" type="text">

  <button class="btn btn-lg btn-primary" type="submit">Go!</button>
</form>
